.image-selector {
  border: dashed 2px #aaaaaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #aaaaaa;
  transition: all 0.2s;
  margin-bottom: 30px;
  padding: 30px;
  font-size: 1.1rem;
  text-align: center;
}
.image-selector:hover {
  box-shadow: 0 0 8px #aaaaaa;
  border-color: #888888;
}
.image-selector label {
  text-decoration: underline #000000;
  cursor: pointer;
}

.file-input {
  display: none;
}
